body {
    background-color: green;
    text-shadow: 2px 2px #000;
}


h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px;
}

p {
    font-family: verdana;
    font-size: 20px;
}

